{% extends 'portfolio/base.html' %}

{% block content %}
  <section class="blogs text-center container-fluid">
    <img src ='https://2.bp.blogspot.com/-wq-Lut3wicw/V7m4g_XvLQI/AAAAAAAAAXw/Q6QUsrO5ICgMYFjtFCLgcYppyEIvsXGLQCLcB/s1600/logo%2Bblog.gif' width="200">
  
    <h2 class=" blogs-title text-info">Sanja has written {{ blogs.count }} blog{{ blogs.count|pluralize }}. Click on one of belowe to open:</h2>
    <div class="d-flex justify-center flex-column align-items-center container-fluid mb-5">
      {% for blog in blogs %}
      <article class ='blog'>
        <a href="{% url 'blog:detail' blog.id %}"role="button" class="btn btn-outline-warning"><h2>{{ blog.title }}</h2></a>
        <h5>{{ blog.date|date:'M d Y'|upper }}</h5>
        <p>{{ blog.description|truncatechars:15 }}</p>
      </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}